/* Color Theme Swatches in Hex */
.Mint-leaves-with-water-splash-isolated-on-white-background.-1-hex { color: #C1D9A9; }
.Mint-leaves-with-water-splash-isolated-on-white-background.-2-hex { color: #98D936; }
.Mint-leaves-with-water-splash-isolated-on-white-background.-3-hex { color: #87BF34; }
.Mint-leaves-with-water-splash-isolated-on-white-background.-4-hex { color: #76A62E; }
.Mint-leaves-with-water-splash-isolated-on-white-background.-5-hex { color: #F2F2F2; }
